<%-include('includes/head'); %> <%-include('includes/carousel'); %>

<h1 class="heading">THE CREATION</h1>


  <div class="music-display ">
      <% if (musicVideos.length) { %>
        <div class=" row">
    <% for (let musicVideo of musicVideos ) { %>
        <div class=" col s6 m6 l4">

            <div class="music">
        <div class=" video-container">
            <iframe class="music-video" width="853" height="480" src="<%=musicVideo.link %>" frameborder="0" allowfullscreen></iframe>
          </div>
        
          <p class="music-text center-align"><%= musicVideo.name %></p>
        </div>
          </div>
            <% } %>

</div>
      <% } else { %>
        <div>Nothing</div>
        <% } %>

  </div>
  
<%-include('includes/footer'); %>
